.order-card {
  width: 70%;
  margin: auto;
  margin-bottom: 0.7rem;
  padding: 1rem;
  border-radius: 10px;
  cursor: pointer;
  background: linear-gradient(to bottom, #67471d 0%, #6f3b11 100%);

  .order-card-header {
    display: flex;
    justify-content: space-between;
    margin: 0 3rem;
    align-items: center;

    .order-number {
      font-size: 1.2rem;
      font-weight: 400;
      color: rgb(228, 228, 228);
    }

    .order-date {
      font-size: 0.8rem;
      color: rgb(173, 173, 173);
    }
  }

  .order-card-body {
    display: flex;
    justify-content: space-between;
    margin: 0 4rem;
    align-items: center;
    margin-top: 0.8rem;

    .order-delevery,
    .order-price {
      p {
        margin-bottom: 0.1rem;
        font-size: 0.8rem;
        color: rgb(173, 173, 173);
      }
      div {
        color: rgb(228, 228, 228);
      }
    }

    .separator {
      border-left: 3px solid #381d0760;
      margin: 0 1rem;
      height: 50px;
    }
  }
}
