#order-summary {
  .frie-box,
  .drink-box,
  .hamburger-box,
  .ingredients-box .relative,
  .condiments-box .relative {
    position: relative;
  }
  .frie-box,
  .drink-box,
  .condiments-box {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      background-color: rgba(111, 59, 17, 0.3);
      padding: 0.2rem 0.5rem;
      margin-top: 0.7rem;
      border-radius: 10px;
      text-align: center;
    }
  }
  .frie-box,
  .drink-box {
    img {
      width: auto;
      height: 250px;
    }
  }

  .condiments-box {
    img {
      width: 130px;
    }
  }

  .spiner {
    z-index: 100;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 15%;
    left: 0;
    width: 100%;
    height: 85%;
    background-color: white;
  }

  .hamburger-box,
  .ingredients-box,
  .condiments-box {
    .spiner {
      top: 0;
      height: 100%;
    }
  }

  .order-summary-btn {
    display: flex;
    margin-top: 3rem;
    justify-content: space-around;
  }

  .confirm-deletion-popup {
    position: fixed;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 3000;
    padding-top: 3rem;

    .confirm-deletion-content {
      background-color: #fbe9e9;
      color: #b64545;
      width: 75%;
      max-width: 300px;
      margin: 0 auto;
      padding: 1rem;
      border: 1px solid #ecd3d3;
      border-radius: 10px;
      p {
        text-align: center;
      }
      div {
        display: flex;
        justify-content: center;

        .confirm-deletion {
          background-color: #c82333;
          color: rgb(223, 223, 223);
          margin-right: 0.5rem;
          &:hover {
            color: white;
            background-color: #a0212d;
          }
        }
        .cancel-deletion {
          background-color: #7e3d1e;
          color: rgb(223, 223, 223);
          margin-left: 0.5rem;
          &:hover {
            color: white;
            background-color: #5f2e18;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 599px) {
    .frie-box,
    .drink-box {
      .spiner {
        top: 25%;
        height: 75%;
      }
    }
  }
}
