.top-bread {
  height: 109px;
  width: auto;
  display: block;
  margin: 0 auto;
}

.salad {
  height: 61px;
  width: auto;
  position: relative;
  display: block;
  margin: -25px auto -29px auto;
  z-index: 2;
}

.tomate {
  height: 41px;
  width: auto;
  position: relative;
  display: block;
  margin: -23px auto -25px auto;
  z-index: -1;
}

.ognion {
  height: 41px;
  width: auto;
  position: relative;
  display: block;
  margin: -24px auto -24px auto;
  z-index: -2;
}

.bacon {
  height: 61px;
  width: auto;
  position: relative;
  display: block;
  margin: -15px auto -33px auto;
  z-index: -3;
}

.cheese {
  height: 65px;
  width: auto;
  position: relative;
  display: block;
  margin: -25px auto -57px auto;
  z-index: -4;
}

// flip horizontaly second Cheese
.scale {
  transform: scaleX(-1);
}

.egg {
  height: 61px;
  width: auto;
  position: relative;
  display: block;
  margin: -40px auto -40px auto;
  z-index: -6;
}

.egg2 {
  height: 49px;
  width: auto;
  position: relative;
  display: block;
  margin: -43px auto -40px auto;
  z-index: -7;
}

.steak-chicken {
  height: 64px;
  width: auto;
  position: relative;
  display: block;
  margin: -27px auto -30px auto;
  z-index: -8;
}

.bottom-bread {
  height: 91px;
  width: auto;
  display: block;
  margin: 0 auto;
}

.bottom-bread2 {
  display: block;
  height: 77px;
  width: auto;
  position: relative;
  margin: -30px auto 0 auto;
  z-index: -15;
}
